In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('data/Bird_strikes.csv')
df.head().T

,0,1,2,3,4
RecordID,202152,208159,207601,215953,219878
AircraftType,Airplane,Airplane,Airplane,Airplane,Airplane
AirportName,LAGUARDIA NY,DALLAS/FORT WORTH INTL ARPT,LAKEFRONT AIRPORT,SEATTLE-TACOMA INTL,NORFOLK INTL
AltitudeBin,"(1000, 2000]","(-1, 0]","(30, 50]","(30, 50]","(30, 50]"
MakeModel,B-737-400,MD-80,C-500,B-737-400,CL-RJ100/200
NumberStruck,Over 100,Over 100,Over 100,Over 100,Over 100
NumberStruckActual,859,424,261,806,942
Effect,Engine Shut Down,NaN,NaN,Precautionary Landing,NaN
FlightDate,11/23/00 0:00,7/25/01 0:00,9/14/01 0:00,9/5/02 0:00,6/23/03 0:00
Damage,Caused damage,Caused damage,No damage,No damage,No damage
Engines,2,2,2,2,2
Operator,US AIRWAYS*,AMERICAN AIRLINES,BUSINESS,ALASKA AIRLINES,COMAIR AIRLINES
OriginState,New York,Texas,Louisiana,Washington,Virginia
FlightPhase,Climb,Landing Roll,Approach,Climb,Approach
ConditionsPrecipitation,NaN,NaN,NaN,NaN,NaN
RemainsCollected?,False,False,False,True,False
RemainsSentToSmithsonian,False,False,False,False,False
Remarks,FLT 753. PILOT REPTD A HUNDRED BIRDS ON UNKN T...,102 CARCASSES FOUND. 1 LDG LIGHT ON NOSE GEAR ...,FLEW UNDER A VERY LARGE FLOCK OF BIRDS OVER AP...,"NOTAM WARNING. 26 BIRDS HIT THE A/C, FORCING A...",NO DMG REPTD.
WildlifeSize,Medium,Small,Small,Small,Small
ConditionsSky,No Cloud,Some Cloud,No Cloud,Some Cloud,No Cloud
WildlifeSpecies,Unknown bird - medium,Rock pigeon,European starling,European starling,European starling
PilotWarned,N,Y,N,Y,N
Cost,"30,736",0,0,0,0
Altitude,1500,0,50,50,50
PeopleInjured,0,0,0,0,0
IsAircraftLarge?,Yes,No,No,Yes,No

In [3]:
df.describe()

            RecordID  NumberStruckActual      Altitude  PeopleInjured
count   25429.000000        25429.000000  25429.000000   25429.000000
mean   253800.148767            2.699634    799.028432       0.000826
std     38472.800499           12.825804   1740.079843       0.047339
min      1195.000000            1.000000      0.000000       0.000000
25%    225742.000000            1.000000      0.000000       0.000000
50%    248609.000000            1.000000     50.000000       0.000000
75%    269044.000000            1.000000    700.000000       0.000000
max    321909.000000          942.000000  18000.000000       6.000000

In [4]:
df.dtypes

RecordID                     int64
AircraftType                object
AirportName                 object
AltitudeBin                 object
MakeModel                   object
NumberStruck                object
NumberStruckActual           int64
Effect                      object
FlightDate                  object
Damage                      object
Engines                     object
Operator                    object
OriginState                 object
FlightPhase                 object
ConditionsPrecipitation     object
RemainsCollected?             bool
RemainsSentToSmithsonian      bool
Remarks                     object
WildlifeSize                object
ConditionsSky               object
WildlifeSpecies             object
PilotWarned                 object
Cost                        object
Altitude                     int64
PeopleInjured                int64
IsAircraftLarge?            object
dtype: object